/**
* PastLink theme
*/
@import url('https://fonts.googleapis.com/css2?family=Voltaire&display=swap');
* {
	box-sizing: border-box;
}
body {
	min-width: 590px;
	background-color: black;
	background-image: url("images/z3map.png");
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	font-size: 1.2em;
	font-family: 'Voltaire', Arial, Helvetica, sans-serif;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
img {
	max-width: 100%;
	max-height: 100%;
}
.icon {
	width: 32px;
	height: 32px;
}
.container {
	width: 100%;
	max-width: 80%;
	margin: auto;
	background-image: url("images/z3map_blur.png");
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	padding: 0.25em;
	margin-bottom: 1em;
    border-radius: 10px;
	box-shadow: 0 0 10px #ffffff;
}
button {
	margin: 4px 3px 3px 0;
	padding: 3px 6px 3px 6px;
}
.row::after {
	content: "";
	clear: both;
	display: table;
}
ul#dropdownmenu, ul#dropdownmenu ul {
	background-color: rgba(66,69,66,0.5);
	list-style: none;
	margin: 0;
	padding: 0;
}
ul#dropdownmenu ul {
	box-shadow: 3.5px 3.5px 5px #000000;
	-moz-box-shadow: 3.5px 3.5px 5px #000000;
	-webkit-box-shadow: 3.5px 3.5px 5px #000000;
	display: none;
	left: 100%;
	padding: 0 3px 3px 0;
	position: absolute;
	top: 0;
}
ul#dropdownmenu li:hover > * {
	display: block;
}
ul#dropdownmenu li {
	display: block;
	font-size: 0;
	position: relative;
	white-space: nowrap;
}
ul#dropdownmenu li:hover {
	z-index: 1;
}
ul#dropdownmenu ul ul {
	left: 100%;
	position: absolute;
	top: 0;
}
ul#dropdownmenu {
	display: block;
	float: left;
	font-size: 0;
	padding: 0 3px 3px 0;
	position: relative;
	z-index: 999;
}
ul#dropdownmenu>li {
	margin: 3px 0 0 0;
}
ul#dropdownmenu a:active, ul#dropdownmenu a:focus {
	outline-style: none;
}
ul#dropdownmenu a {
	background-image: none;
	background-repeat: repeat;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	font-size: 14px;
	font-family: 'Voltaire', Arial, Helvetica, sans-serif;
	padding-left: 6px;
	text-align: left;
	text-decoration: none;
	vertical-align: middle;
}
ul#dropdownmenu ul li {
	float: none;
	margin: 3px 0 0 0;
}
ul#dropdownmenu ul a {
	color: #FFFFFF;
	text-align: left;
	text-decoration: none;
}
ul#dropdownmenu li:hover > a, ul#dropdownmenu li a.pressed {
	background-color: #668855;
	background-image: url("images/mainbk.png");
	color: #FFFFFF;
}
ul#dropdownmenu img {
	border: none;
	margin-right: 10px;
	vertical-align: middle;
}
ul#dropdownmenu span {
	background-image: url("images/arrowsub.png");
	background-position: right center;
	background-repeat: no-repeat;
	display: block;
	overflow: visible;
	padding-right: 14px;
}
ul#dropdownmenu ul span {
	background-image: url("images/arrowsub.png");
	overflow: visible;
	padding-right: 14px;
}
ul#dropdownmenu > li.switch {
	cursor: pointer;
	display: none;
	height: 20px;
	padding: 10px;
	width: 25px;
}
ul#dropdownmenu > li.switch:before {
	background-color: #FFFFFF;
	box-shadow: 0 8px #FFFFFF, 0 16px #FFFFFF;
	-moz-box-shadow: 0 8px #FFFFFF, 0 16px #FFFFFF;
	-webkit-box-shadow: 0 8px #FFFFFF, 0 16px #FFFFFF;
	content: "";
	display: block;
	height: 4px;
	position: absolute;
	width: 25px;
}
ul#dropdownmenu > li.switch:hover:before {
	background-color: #FFFFFF;
	box-shadow: 0 8px #FFFFFF, 0 16px #FFFFFF;
	-moz-box-shadow: 0 8px #FFFFFF, 0 16px #FFFFFF;
	-webkit-box-shadow: 0 8px #FFFFFF, 0 16px #FFFFFF;
}
ul#dropdownmenu li:hover > a, ul#dropdownmenu li > a.pressed {
	background-color: #668855;
	background-image: url("images/mainbk.png");
	color: #FFFFFF;
	text-decoration: none;
}
ul#dropdownmenu ul li:hover > a, ul#dropdownmenu ul li > a.pressed {
	color: #FFFFFF;
	text-decoration: none;
}
ul#dropdownmenu li.topfirst > a {
	border-width: 0;
}
ul#dropdownmenu li.subfirst > a {
	border-width: 0;
}
.menu-90 {
	width: 90px;
}
.menu-100 {
	width: 100px;
}
.menu-110 {
	width: 110px;
}
.menu-120 {
	width: 120px;
}
.menu-130 {
	width: 130px;	
}
.menu-140 {
	width: 140px;
}
.menu-150 {
	width: 150px;
}
.menu-160 {
	width: 160px;
}
.menu-180 {
	width: 180px;
}
@media only screen and (max-width: 970px) {
	img.icon {
		width: 16px;
		height: 16px;
	}
	ul#dropdownmenu a {
		font-size: 11px;
		padding-left: 1px;
	}
	ul#dropdownmenu img {
		margin-right: 3px;
	}
	.menu-90 {
		width: 50px;
	}
	.menu-100 {
		width: 60px;
	}
	.menu-110 {
		width: 60px;
	}
	.menu-120 {
		width: 70px;
	}
	.menu-130 {
		width: 90px;	
	}
	.menu-140 {
		width: 90px;
	}
	.menu-150 {
		width: 100px;
	}
	.menu-160 {
		width: 110px;
	}
	.menu-180 {
		width: 130px;
	}
}