/**
* PastLink theme
*/

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
	box-sizing: border-box;
}

body {
	min-width: 320px;
	background-color: black;
	background-image: url("images/z3map.png");
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	font-size: 1em;
	font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.container {
	width: 700px;
	margin: auto;
	background-image: url("images/z3map_blur.png");
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	padding: 0.75em;
	margin-bottom: 1em;
    border-radius: 10px;
	box-shadow: 0 0 10px #ffffff;
}

button {
	margin: 5px 12px 5px 0;
	padding: 6px 12px 6px 12px;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}